body {
    margin: 0 !important;
    padding: 0 !important;
}

.banner {
    background: url(./banner.jpg) no-repeat center center;
    height: 750px;
    padding: 60px;
    margin: 0 !important;
}

.about-sign-in {
    float: right;
    cursor: pointer;
}

.about-sign-in a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 400px;
    font-family: Roboto;
}

.about-sign-in a:hover {
    text-decoration: underline;
}

.about {
    color: black;
}

.sign-in {
    margin-right: 130px;
    margin-left: 20px;
    border: 2px solid #8bc34a;
    color: #8bc34a;
    border-radius: 20px;
    padding: 7px 12px;
}

.logo {
    background: url(./logo.png) no-repeat center center;
    height: 100px;
    margin-top: 210px;
}

.fact {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding-left: 400px;
    padding-right: 400px;

}

.fact span {
    display: block;
    font-size: 37px;
    margin-top: 10px;
}

.fact img {
    height: 50px;
}

.left,
.right,
.center {
    flex: 1;
    text-align: center;
}

.text-panner {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 24px;
    font-size: Roboto;
    font-style: italic;
    color: #283238;
}

.panner-button{
    text-align: center;
}
.panner-button button{
    border-radius: 100px;
    background: linear-gradient(311.12deg, #B4EC51 0%, #429321 100%);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
    font-family: Roboto;
    color: #FFFFFF;
    letter-spacing: 1.33px;
    line-height: 21px;
    text-transform: uppercase;
    cursor: pointer;
    height: 40px;
    width: 144px;
    font-size: 16px;
}